<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
      @import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');
      body {
        font-family: 'PF Tempesta Seven', sans-serif;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #D17F36 !important;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
      }
  </style>
  <title>BeatRun</title>
</head>
<body class="bg-[#DF5B8B] flex text-center justify-center items-center flex-col">
  <div class="mt-28 flex flex-col justify-center items-center">
    <img src="../static/logo2.png" class="mb-72">
    <h3 class="text-[#365712]">Esperando o professor iniciar...</h3>
  </div>
</body>
</html>