<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
      @import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');
      body {
        font-family: 'PF Tempesta Seven', sans-serif;
      }
  </style>
  <title>BeatRun</title>
</head>
<body class="bg-[#DF5B] flex text-center justify-center items-center flex-col">
  <div class="mt-72">
    <h1 class="text-[#365712] mb-16 text-2xl font-bold">Você é:</h1>
    <a href="/login-professor"><button class="mb-5 font-2xl w-72 p-4 rounded-full text-white bg-[#365712] flex justify-center items-center">Professor</button></a>
    <a href="/login-aluno"><button class="mb-5 font-2xl w-72 p-4 rounded-full text-white bg-[#365712] flex justify-center items-center">Aluno</button></a>
  </div>
</body>
</html>