<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
      @import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');
      body {
        font-family: 'PF Tempesta Seven', sans-serif;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #D17F36 !important;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
      }
  </style>
  <title>BeatRun</title>
</head>
<body class="bg-[#DF5B8B] flex text-center justify-center items-center flex-col">
  <div class="mt-64">
    <h1 class="text-[#841F55] mb-16 text-2xl font-bold">Faça seu login:</h1>
    <form class="flex flex-col justify-center items-center" method="POST">
      <input name="email" placeholder="E-mail..." class="bg-[#DAB56F] mb-2 text-[#D17F36] p-4 pl-6 pr-6 rounded-full outline-none">
      <input type="password" name="senha" placeholder="Senha..." class="bg-[#DAB56F] mb-2 text-[#D17F36] p-4 pl-6 pr-6 rounded-full outline-none">
      <a><button class="mb-5 font-2xl w-72 p-3 rounded-full text-white bg-[#841F55] flex justify-center items-center">Logar</button></a>
      <a href="/registro-professor" class="underline text-[#DAB56F]">Cadastre-se</a>
    </form>
  </div>
</body>
</html>